.container {
	width: 300px;
	height: 400px;
	display: flex;
	flex-direction: column;
	align-items: center;
	box-shadow: 0.5px 1px 7px lightgray;
	margin: 1rem;
	cursor: pointer;
}

.img {
	width: 260px;
	height: 380px;
	object-fit: contain;
}

.title {
	margin: 1rem;
	font-size: 16px;
	text-transform: uppercase;
	color: #00b269;
}

.price {
	text-align: right;
	font-size: 16px;
	width: 100%;
}

.price p {
	margin: 2rem;
}
