.container {
	width: 80%;
	display: flex;
	align-items: center;
}

.logoContainer {
	flex: 1;
	margin-left: 0.75em;
	display: flex;
}

.logoContainer a {
	text-decoration: none;
}

.img {
	width: 60px;
	margin-right: 0.5em;
	object-fit: contain;
}

.title {
	color: #333;
}

.cartContainer {
	flex: 1;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding-right: 0.75em;
}

.cartContainer a {
	display: flex;
	align-items: center;
	font-size: 16px;
	text-decoration: none;
	color: black;
}

.icon {
	font-size: 32px;
	margin-right: 0.5rem;
	color: #fd6229;
}
