.container {
	min-height: 86vh;
	max-width: 400px;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 2.5rem;
}

.title {
	font-size: 30px;
	text-transform: uppercase;
}

.text {
	width: 90%;
	font-size: 16px;
	margin: 2em 0;
	line-height: 1.5;
}

.quantityBox {
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 20px;
}

#quantityText {
	cursor: auto;
	font-size: 16px;
	font-weight: bolder;
}

.quantityBox span {
	cursor: pointer;
	font-size: 24px;
}

#quantity {
	height: 32px;
	width: 32px;
	border-radius: 4px;
	border: 1px solid lightgrey;
	display: grid;
	place-items: center;
	margin: 0 0.5em;
	cursor: auto;
}

.btn {
	background-color: #00b168;
	border: 0;
	width: 50%;
	padding: 0.5rem;
	color: white;
	font-weight: bolder;
	cursor: pointer;
}

@media only screen and (min-width: 992px) {
	.container {
		max-width: 620px;
	}
}
